body, h1, h2, h3, h4, h5, h6, p, address, b, em, i, small, strong, sub, sup, u, form, input, textarea, button, select, option, label, a, nav, ul, ol, li, dl, dt, dd, table, table, caption, th, tr, td, div, span, header, footer, main, section, article, aside, dat {
    font-family: Cabin !important;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    letter-spacing: 0;
}
.body {
    margin-top: 1rem !important;
    margin-bottom: 6rem;
}
.form-input,
.form-select,
.form-checkbox+.form-label::before,
.form-radio+.form-label::before {
    border-color: transparent;
}
.grid-bg {
    background: transparent;
}
.accordion-navigation {
    border-color: #ccc;
}
:not(.page-sidebar) .accordion-title {
    font-size: 1rem;
}
[data-content-region*="header_bottom"] {
    margin-top: 0 !important;
}
.modal-close {
    top: 0.5rem;
    right: 0.5rem;
}
.modal-close:focus::after,
.modal-close:focus::before {
    display: none;
}
/*
------------------------------------------------------------
HEADER
------------------------------------------------------------ */
.header-logo {
    max-width: none;
}
.quickSearchWrap {
    text-align: right;
}
.navPages-action.has-subMenu {
    font-size: 1.25rem;
}
/*
Media Query
------------------------------------------------------------ */
@media only screen and (min-width: 801px) {
    .header-logo .form-field {
        position: relative;
        display: inline-block;
    }
    .quickSearchWrap .form-input {
        width: 410px;
        max-width: 100%;
    }
    .quickSearchResults {
        left: auto;
        right: 0;
    }
    .navPages-container {
        border-bottom-color: transparent;
    }
    .navPages li.navPages-item:hover>.navPages-action:before {
        bottom: 15px;
    }
    .navPage-subMenu {
        padding: 0 !important;
    }
    .navPage-subMenu-item:hover {
        background-color: #f9f9f9 !important;
    }
    .navPage-subMenu .navPages-action:hover:before {
        height: 0;
    }
    .navPages-list:not(.navPages-list-depth-max) .navPage-subMenu-action {
        padding: 0.75rem 1.5rem;
        width: 100%;
    }
}
/*
------------------------------------------------------------
FOOTER
------------------------------------------------------------ */
.footer-info-col {
    font-size: .875rem;
}
.footer-info-list a:hover,
footer a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}
footer .socialLinks-item {
    background: #196ab2;
}
/*
------------------------------------------------------------
HOMEPAGE
------------------------------------------------------------ */
.home {
    margin-top: 0 !important;
}

Custom Slider
------------------------------------------------------------ */
#custom-slider .slick-prev {
    left: 0;
}
#custom-slider .slick-next {
    right: 0;
}
#custom-slider .slick-slide img {
    width: auto;
}
#custom-slider .container {
    display: table;
    min-height: 400px;
}
#custom-slider .container > div {
    vertical-align: middle;
}
.custom-slide-left > img {
    margin-bottom: 2rem;
}
.custom-slide-right {
    text-align: center;
}
.custom-slide-right > img {
    display: inline-block;
}
#custom-slider h2 {
    font-size: 3.75rem;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}
#custom-slider h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #fff;
}
#custom-slide-01 {
    background: url(//cdn11.bigcommerce.com/s-8aiovneo53/images/stencil/original/image-manager/home-slide-01-bg.jpg?t=1699030145) 50% 0%/cover no-repeat;
}
#custom-slide-01 ul {
    margin: 0;
}
#custom-slide-01 li {
    list-style-type: none;
    font-size: 1.3125rem;
    color: #fff;
    font-style: italic;
}
#custom-slide-01 li img {
    display: inline-block;
    vertical-align: -4px;
}
/*
Quicklinks
------------------------------------------------------------ */
[data-layout-name="Quicklinks"] {
    max-width: 1230px;
    margin: 0 auto;
    padding-top: 40px;
}
.quicklink {
    background-color: #fff;
    text-align: center;
}
.quicklink a {
    display: block;
    padding: 1.75rem 1.75rem 0.75rem;
}
.quicklink span {
    display: inline-block;
    font-size: 1.125rem;
    padding-top: 0.5rem;
}
/*
Media Query
------------------------------------------------------------ */
@media only screen and (min-width: 801px) {
    #custom-slider .container > div {
        display: table-cell;
    }
    .custom-slide-left {
        width: 60%;
    }
    .custom-slide-left > img {
        display: none;
    }
    .custom-slide-right {
        width: 40%;
    }
    #custom-slide-01 ul li {
        display: inline-block;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 800px) {
    #custom-slider .slick-slide {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .custom-slide-left > img {
        display: block;
    }
    .custom-slide-right > img {
        display: none;
    }
}
/*
------------------------------------------------------------
ACCOUNT
------------------------------------------------------------ */
.login-form .form-actions * {
    vertical-align: middle;
}
.panel--newAddress .panel-body {
    background-color: #fff;
    border: none;
}
.paymentMethod .button {
    display: inline-block;
}
/*
------------------------------------------------------------
ALL PRODUCTS
------------------------------------------------------------ */
.page-sidebar,
.card .card-figure,
.card-figcaption {
    border-color: transparent;
}
/*
Sidebar
------------------------------------------------------------ */
.page-sidebar {
    background: transparent;
}
.sidebarBlock-heading {
    font-size: 1rem;
}
.sidebarBlock+.sidebarBlock {
    border-top-color: #ccc;
}
.navList-action--checkbox {
    font-size: .9375rem;
    margin-bottom: 0;
}
.navList-action--checkbox::before {
    border-color: #ccc;
}
/*
Product Cards
------------------------------------------------------------ */
.actionBar-section .form-field,
.actionBar-section .form-field:hover {
    border-color: transparent;
}
.pagination-item:not(.pagination-item--next):not(.pagination-item--previous) {
    border-bottom-color: #ccc;
}
.card .card-title {
    font-size: 1rem;
}
/*
Media Query
------------------------------------------------------------ */
@media only screen and (min-width: 801px) {
    .page-sidebar {
        padding-top: 0;
        padding-left: 0;
    }
    .page-sidebar #subcategoryList h5 {
        border-bottom-color: #ccc;
    }
    .page-sidebar .accordion-block+.accordion-block {
        border-top-color: #ccc;
    }
}
@media only screen and (max-width: 800px) {
    .grid-bg .sidebar-nav-mobile {
        background: transparent;
    }
    .sidebar-nav-mobile>a:not(.is-open),
    .sidebar-nav-mobile>a:not(.is-open):focus,
    .sidebar-nav-mobile>a:not(.is-open):hover {
        background: #fff;
        border-color: transparent;
    }
    .sidebar-nav-mobile>a.is-open {
        color: #fff !important;
        border-color: transparent;
    }
    .accordion .sidebarBlock-heading {
        border-bottom-color: #ccc;
    }
}
/*
------------------------------------------------------------
INDIVIDUAL PRODUCT
------------------------------------------------------------ */
.productView-options {
    margin-bottom: 1.5rem;
}
.body > :not([data-product-id="166"]) .productView-options-wrap,
[data-product-id="166"] .productView-options-inner > div:first-of-type {
    display: none !important;
}
.productView-options-wrap .productView-options-inner {
    border-bottom-color: #ccc;
}
.socialLinks {
    display: none;
}
/*
Media Query
------------------------------------------------------------ */
@media only screen and (min-width: 801px) {
    .productView-images,
    .quickView .productView-images {
        max-width: 40%;
    }
    .productView-details,
    .quickView .productView-details {
        min-width: 60%;
    }
}
/*
------------------------------------------------------------
CART
------------------------------------------------------------ */
.cart-list,
.cart-item {
    border-color: #ccc;
}
.cart-item-name {
    font-size: 1.125rem;
}
.cart-total-label {
    color: #444;
}
/*
Add-to-Cart Popup
------------------------------------------------------------ */
.fastCart .whatNext h5 {
    margin-top: 0;
    font-size: 1rem;
    font-style: italic;
}
/*
Media Query
------------------------------------------------------------ */
@media only screen and (min-width: 801px) {
    .cart-total + .cart-total {
        border-top-color: #ccc;
    }
}
